@model IQueryable<News>

@{
    Layout = "/Views/Shared/_Layout.cshtml";
    <link rel="stylesheet"
          href="./assets/vendors/mdi/css/materialdesignicons.min.css" />
    <link rel="stylesheet" href="assets/vendors/aos/dist/aos.css/aos.css" />
    <link rel="shortcut icon" href="assets/images/favicon.png" />
    <link rel="stylesheet" href="assets/css/style.css" />
}
@foreach (var item in Model)
{
    <div class="col-lg-9 stretch-card grid-margin">
        <div class="card">
            <div class="card-body bg-dark text-white">
                <div class="row">
                    <div class="col-sm-4 grid-margin">
                        <div class="position-relative">
                            <div class="rotate-img">
                                <img src="assets/images/dashboard/home_4.jpg"
                                     alt="thumb"
                                     class="img-fluid" />
                            </div>
                            <div class="badge-positioned">
                                <span class="badge badge-danger font-weight-bold">Flash news</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-8  grid-margin">
                        <h2 class="mb-2 font-weight-600">
                            @item.NewsTitle
                        </h2>
                        <div class="fs-13 mb-2">
                            <span class="mr-2">Photo </span>@item.NewsPublishTime
                        </div>
                        <p class="mb-0">
                            @item.NewsDescription
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

}