@model News

@{
    Layout = null;
}
<ol>
    <li>
        @Model.NewsId
    </li>
    ---------------
    <li>
        @Model.NewsTitle
    </li>
    ---------------
    <li>
        @Model.NewsDescription
    </li>
    ---------------
    <li>
        @Model.NewsPublishTime
    </li>
</ol>

}